<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <link rel='shortcut icon' href='../static/images/favicon.ico' type='image/x-icon' />
  <title>DogFinder - Detector de razas de perros</title>

  <!-- Bootstrap core CSS -->
  <link href="../static/styles/bootstrap.css" rel="stylesheet">
  <link href="../static/styles/imageuploadify.min.css" rel="stylesheet">
  <link href="../static/styles/new-age.css" rel="stylesheet">
  <link href="../static/device-mockups/device-mockups.min.css" rel="stylesheet">
  <link href="../static/bower_components/chartist/dist/chartist.min.css" rel="stylesheet" >

  <!-- Custom fonts for this template -->
    <link href="../static/vendor/font-awesome/css/all.css" rel="stylesheet"> <!--load all styles -->
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">
  <!-- Bootstrap core JavaScript -->
  <script src="../static/vendor/jquery/jquery.min.js"></script>
  <script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
  <script src="../static/vendor/jquery-easing/jquery.easing.min.js"></script>


</head>

<body id="page-top">

  <nav class="navbar navbar-expand-lg navbar-light fixed-top navbar-shrink" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">
        <img src="../static/images/dogfinder_white.svg" width="120">
      </a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="#features">Características</a>
            </li>
            <li class="nav-item">
                <a class="nav-link-main js-scroll-trigger" href="#cta">Pruébalo online</a>
            </li>
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="#download">Descarga</a>
            </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#contact">Contacto</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <header class="masthead">
    <div class="container h-100">
      <div class="row h-100">
        <div class="col-lg-7 my-auto">
          <div class="header-content mx-auto">
              <h1 class="mb-5">¿Es un rotweiller?, ¿es un sharpei?... Descúbrelo con <b>DogFinder</b> </h1>
            <a href="#cta" class="btn btn-outline btn-xl js-scroll-trigger" role="button">Prueba la app online</a>
            <a href="#download" class="btn btn-outline btn-xl js-scroll-trigger" role="button">Descarga la app en tu móvil</a>
          </div>
        </div>
        <div class="col-lg-5 my-auto">
          <div class="device-container">
            <div class="device-mockup iphone6_plus portrait white">
              <div class="device">
                <div class="screen">
                  <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
                  <img src="../static/images/dogfinder_phone_bg.png" class="img-fluid" alt="">
                </div>
                <div class="button">
                  <!-- You can hook the "home button" to some JavaScript events or just remove it -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>

    <section class="features" id="features">
    <div class="container">
      <div class="section-heading text-center">
        <h2>Características de <b>DogFinder</b></h2>
        <p class="text-muted">Todo lo que hace que esta aplicación sea un referente en detección de razas de perro</p>
        <hr>
      </div>
      <div class="row">
        <div class="col-lg-4 my-auto">
          <div class="device-container">
            <div class="device-mockup iphone6_plus portrait white">
              <div class="device">
                <div class="screen">
                  <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
                  <img src="../static/images/screen2.png" class="img-fluid" alt="">
                </div>
                <div class="button">
                  <!-- You can hook the "home button" to some JavaScript events or just remove it -->
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-8 my-auto">
          <div class="container-fluid">
            <div class="row">
              <div class="col-lg-6">
                <div class="feature-item">
                    <i class="fas fa-bolt"></i>
                    <h3>Rápido</h3>
                  <p class="text-muted">Sube una foto y obtendrás el resultado en segundos</p>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="feature-item">
                    <i class="fas fa-server"></i>
                    <h3>Sin excesivo consumo de internet</h3>
                  <p class="text-muted">Solo se procesa la subida de la foto, el resto se hace internamente en nuestro servidor</p>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6">
                <div class="feature-item">
                    <i class="fas fa-users"></i>
                    <h3>Y no solo detecta perros...</h3>
                  <p class="text-muted">Si subes una foto tuya, te dirá que raza de perro se parece más a ti</p>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="feature-item">
                    <i class="fas fa-hand-holding-usd"></i>
                    <h3>Totalmente gratuito</h3>
                    <p class="text-muted">Sin costes, sin pagos adicionales... ¡Todo es gratis con <b>DogFinder</b>!</p>
                </div>
              </div>
            </div><
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="cta" id="cta">
    <div class="cta-content">
      <div class="container">
        <div class="section-heading text-center">
          <h2>Prueba <b>DogFinder</b> online</h2>
          <p>Ejecuta la aplicación web online de manera totalmente gratuita</p>
        </div>
        <div class="dog-container" id="dog_breeds">
          <script type="text/javascript">
            $(document).ready(function() {
              var input = '<form><input type="file" accept="image/*"></form>';
              document.getElementById("dog_breeds").innerHTML = input;
              $('input[type="file"]').imageuploadify();
            })
          </script>
        </div>
      </div>
    </div>
    <div class="overlay"></div>
  </section>

  <section class="download bg-primary text-center" id="download">
    <div class="container">
      <div class="row">
        <div class="col-md-8 mx-auto">
          <h2 class="section-heading text-body">Descarga <b>DogFinder</b> en tu smartphone</h2>
          <p class="text-muted">Si quieres disfrutar de todo su potencial, será mejor que la uses en tu móvil!</p>
          <br>
          <div class="badges">
            <a class="badge-link" href="#"><img src="../static/images/google-play-badge.svg" alt=""></a>
            <a class="badge-link" href="#"><img src="../static/images/app-store-badge.svg" alt=""></a>
        </div>
            <br>
            <h4>Próximamente en ambas plataformas...</h4>
      </div>
    </div>
  </section>


  <section class="contact bg-primary" id="contact">
    <div class="container">
      <h2>Nosotros
        <i class="fas fa-heart"></i>
        vuestro feedback!</h2>
      <ul class="list-inline list-social">
        <li class="list-inline-item social-twitter">
          <a href="#">
            <i class="fab fa-twitter"></i>
          </a>
        </li>
        <li class="list-inline-item social-facebook">
          <a href="#">
            <i class="fab fa-facebook-f"></i>
          </a>
        </li>
        <li class="list-inline-item social-google-plus">
          <a href="#">
            <i class="fab fa-instagram"></i>
          </a>
        </li>
      </ul>
    </div>
  </section>

  <footer>
    <div class="container">
      <p>&copy; DogFinder 2019. Todos los derechos reservados.</p>
      <ul class="list-inline">
        <li class="list-inline-item">
          <a href="#">Privacidad</a>
        </li>
        <li class="list-inline-item">
          <a href="#">Terms</a>
        </li>
        <li class="list-inline-item">
          <a href="#">FAQ</a>
        </li>
      </ul>
    </div>
  </footer>

  <!-- build:js(.) scripts/vendor.js -->
  <!-- bower:js -->
  <script src="../static/bower_components/jquery/dist/jquery.js"></script>
  <script src="../static/bower_components/jquery-ui/jquery-ui.js"></script>
  <script src="../static/bower_components/bootstrap/dist/js/bootstrap.js"></script>
  <script src="../static/bower_components/chartist/dist/chartist.min.js"></script>

  <!-- <script src="../static/bower_components/angular/angular.js"></script>
  <script src="../static/bower_components/angular-animate/angular-animate.js"></script>
  <script src="../static/bower_components/angular-cookies/angular-cookies.js"></script>
  <script src="../static/bower_components/angular-route/angular-route.js"></script>
  <script src="../static/bower_components/angular-resource/angular-resource.js"></script>
  <script src="../static/bower_components/angular-sanitize/angular-sanitize.js"></script>
  <script src="../static/bower_components/angular-touch/angular-touch.js"></script>
  <script src="../static/bower_components/angular-route-segment/build/angular-route-segment.js"></script>
  -->
  <!-- endbower -->
  <!-- endbuild -->

  <!-- build:js({.tmp,app}) scripts/scripts.js -->
  <!--<script src="../static/scripts/app.js"></script>-
  <script src="../static/scripts/controllers/main_controller.js"></script>
  <script src="../static/scripts/services/main_service.js"></script>
  <script src="../static/scripts/services/main_service_api.js"></script>-->
  <script src="../static/scripts/new-age.min.js"></script>
  <script src="../static/scripts/imageuploadify_v4.js"></script>
  <script src="../static/scripts/dog_breeds.js"></script>
  <script src="https://www.gstatic.com/charts/loader.js"></script>
  <!-- endbuild -->

</body>

</html>
